/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/* Body
------------------------------------- */
body {
    background: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 300;
    padding-top: 75px;
    margin-bottom: 180px;
}

html,body {
  width: 100%;
  overflow-x: hidden;
}

html {
  font-size: 100%;
  min-height: 100%;
  position: relative;
}

/*---------------------------------------
    Footer section
-----------------------------------------*/

footer {
  padding-bottom: 50px;
  background: #304352;
  color: #ffffff;
  padding: 20px;
  height: 180px;
  position: absolute;
  bottom:0;
  width: 100%;
}
